@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    background-color: #121212;
    color: #ffffff;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1c1c1c;
    z-index: 10;
    position: relative;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.5);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: color 0.3s;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

nav ul li a:hover {
    color: #f39c12;
}

main {
    padding: 0;
    width: 100vw;
    min-height: 100vh; /* Ensure minimum height to prevent content cutoff */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

.collage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.collage .image {
    position: absolute;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.collage .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.collage .image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.centered-text {
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0 0 20px rgba(0, 0, 255, 0.7), 0 0 30px rgba(0, 0, 255, 0.5);
    margin-bottom: 50px; /* Add space below for better readability */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/* About page specific styles */
.centered-about-text {
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0 0 20px rgba(0, 0, 255, 0.7), 0 0 30px rgba(0, 0, 255, 0.5);
    text-align: center;
    margin-bottom: 30px; /* Add space below for better readability */
}

.about-content {
    max-width: 800px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: rgba(28, 28, 28, 0.8);
    overflow: auto; /* Enable scrolling for content longer than container */
    margin: 0 20px; /* Add horizontal margin for better spacing */
}

.about-content p {
    font-size: 18px;
    line-height: 1.6;
}

a {
    color: #ffffff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

a:visited {
    color: #ffffff;
}

